.contact .contact-social-form {
    max-width: 1800px;
    margin: auto;
    margin-bottom: 8rem;
}

.contact .contact-social-form .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
/*Sosyal medya yazısı*/
.contact .contact-us-form .container h2 {
    font-size: 4rem;
    position: relative;/*Normal konumda yer alır*/
    color: #393a3c;
    margin-bottom: 1rem;
}
/*before ön after arka*/
.contact .contact-us-form .container h2::before {
    content: "";
    position: absolute;/*En yakın konumlandırılmış üst öğeye göre yerleşir*/
    width: 5px;
    height: 90%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
    background-color: #393a3c;
}

.contact .contact-social-form .container h2::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 90%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
    background-color: #393a3c;
}

.contact .contact-social-form .container h2 {
    font-size: 4rem;
    position: relative;
    color: #393a3c;
    margin-bottom: 1rem;
}

.contact .contact-social-form .container h2::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 90%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
    background-color: #393a3c;
}

.contact .contact-us-form .container h2::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 90%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
    background-color: #393a3c;
}

.contact .contact-social-form .container p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.contact .contact-social-form .container .social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.contact .contact-social-form .container .social-container > div {
    width: 350px;
    height: 200px;
    background-color: #393a3c;
    margin: 0.5rem;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    border-radius: 15px;
    position: relative;
}

.contact .contact-social-form .container .social-container > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 5px solid transparent;
    border-radius: 15px;
}

.contact .contact-social-form .container .social-container div:first-child:hover::before {
    animation: face 0.5s linear forwards;
}

@keyframes face {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    25% {
        width: 100%;
        height: 0%;
        border-top-color: #4064AC;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 100%;
        border-top-color: #4064AC;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: #4064AC;
    }
    75% {
        width: 100%;
        height: 100%;
        border-top-color: #4064AC;
        border-left-color: transparent;
        border-bottom-color: #4064AC;
        border-right-color: #4064AC;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #4064AC;
        border-left-color: #4064AC;
        border-bottom-color: #4064AC;
        border-right-color: #4064AC;
    }
}

.contact .contact-social-form .container .social-container div:nth-child(2):hover::before {
    animation: insta 0.5s linear forwards;
}

@keyframes insta {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    25% {
        width: 100%;
        height: 0%;
        border-top-color: #A83494;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 100%;
        border-top-color: #A83494;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: #A83494;
    }
    75% {
        width: 100%;
        height: 100%;
        border-top-color: #A83494;
        border-left-color: transparent;
        border-bottom-color: #A83494;
        border-right-color: #A83494;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #A83494;
        border-left-color: #A83494;
        border-bottom-color: #A83494;
        border-right-color: #A83494;
    }
}

.contact .contact-social-form .container .social-container div:last-child:hover::before {
    animation: googleplus 0.5s linear forwards;
}
/*Belirli bir öğenin belirli bir zaman diliminde değişen özelliklerini tanımlar.(başlangıç-orta nokta-bitiş)*/
@keyframes googleplus {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    25% {
        width: 100%;
        height: 0%;
        border-top-color: #D64937;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 100%;
        border-top-color: #D64937;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: #D64937;
    }
    75% {
        width: 100%;
        height: 100%;
        border-top-color: #D64937;
        border-left-color: transparent;
        border-bottom-color: #D64937;
        border-right-color: #D64937;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #D64937;
        border-left-color: #D64937;
        border-bottom-color: #D64937;
        border-right-color: #D64937;
    }
}

.contact .contact-social-form .container .social-container > div i {
    width: 25%;
    font-size: 4rem;
    margin-right: 0.5rem;
    color: white;
}

.contact .contact-social-form .container .social-container > div > a {
    width: 75%;
    text-align: end;
    color: white;
    padding-right: 1rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 30px 0px 0px 30px;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}

.contact .contact-social-form .container .social-container > div:first-child a {
    background-color: #4064AC;
}

.contact .contact-social-form .container .social-container > div:nth-child(2) a {
    background-color: #A83494;
}

.contact .contact-social-form .container .social-container > div:last-child a {
    background-color: #D64937;
}

.contact .contact-us-form {
    margin-bottom: 8rem;
}

.contact .contact-us-form .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.contact .contact-us-form .container p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.contact .contact-us-form .container form {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .contact-us-form .container input, select, textarea {
    padding: 0.5rem;

}

.contact .contact-us-form .container form > div  {
    padding: 0.5rem;
}

.contact .contact-us-form .container form div input, select, textarea, input[type=submit]{
    width: 100%;
    outline: none;
    border: 1px solid #393a3c;
}   

input[type=submit] {
    border-radius: 15px;
}

input[type=submit]:hover {
    background-color: #393a3c;
    color: white;
}

.contact .contact-us-form .container form div select *{
    padding: 1rem;
}

.contact .contact-us-form .container textarea {
    height: 150px;
}

.contact .contact-us-form .container form div:nth-of-type(3) {
    width: 50%;
}

.contact .contact-us-form .container form div:nth-of-type(4), div:nth-of-type(5) {
    width: 50%;
}

.contact .contact-us-form .container form div:nth-of-type(6), div:nth-of-type(7) {
    width: 100%;
}

label {
    display: block;
}
/*Piksel boyutunun altındaki ekran boyutları için stiller*/
@media (max-width: 992px) {
    .contact .nav-bar {
        margin-bottom: 8rem;
    }
}

@media (max-width: 768px) {
    .contact .contact-us-form .container h2 {
        font-size: 3.2rem;
    }
    .contact .contact-social-form .container h2 {
        font-size: 3.2rem;
    }
    .contact .contact-social-form .container .social-container {
        width: 95%;
    }
    .contact .contact-us-form .container form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;/*öğeler bir veya birden fazla satıra veya stüna sığdırılır gerektiğinde taşarlar*/
    }
    .contact .contact-us-form .container form div {
        width: 100% !important;
    }
    .contact .contact-us-form .container form div input, select, textarea {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .contact .contact-social-form .container h2 {
        font-size: 2.5rem !important;
    }
}
