body {
	background: #1690A7;
	display: flex;
	justify-content: center;/*Öğelerin flex containerda hizalanmasını ayarlar*/
	align-items: center;/*Flex container içindeki flex öğelerin dikey hizanmasını ayarlar*/
	height: 100vh;/*Viewport heigh (görünüm yüksekliği yüzde %100)*/
	flex-direction: column;/*Öğelerin  nasıl sıralanacağını ayarlar (yukarıdan aşağıya)*/
}

/*Tüm HTML öğelerinin css özelliklerini belirler*/
*{
	box-sizing: border-box;

	font-family:Verdana, Geneva, Tahoma, sans-serif;
	
}

form {
	border: 2px solid #ccc;
	border-radius: 17px;
	width: 502px;
	background: #fff;
	padding: 28px;

}


label {
	font-size: 19px;
	color: #000000;
	padding: 10px;
}
a {
	border-radius: 4px;
	padding: 11px 16px;
	margin-right: 13px;
	float: right;/*Öğe normal akıştan çıkar diğer öğelerin sağ ya da sol kenarına yüzen bir konum almasını sağlar*/
	text-decoration: none;/*Metin öğelerinin altını çizmek için kullanılır*/
	border: none;
	color: #fff;
	background: #3a3333;

}

button {
	float: right;
	padding: 11px 16px;
	margin-right: 13px;
	background: #454545;
	border-radius: 4px;
	color: #fff;
	border: none;
}
button:hover{
	opacity: .7;/*HTML öğesinin opaklık seviyesini belirler 0 ile 1 arasında değer alır rgb de 4. eleman*/
}
.error {
   padding: 10px;
   margin: 21px auto;
   width: 93%;
   border-radius: 4px;
   color: #ff0400;
   background: #ffffff;

}

h1 {
	color: #fff;
	text-align: center;
}

h2 {
	margin-bottom: 42px;
	text-align: center;

}

a:hover{
	opacity: .7;
}

input {
	width: 94%;
	display: block;
	margin: 10px auto;
	padding: 12px;
	border: 2px solid #ccc;
	border-radius: 4px;

}